<template>
    <lightning-card title="Create Account with lightning-record-form" icon-name="custom:custom57"></lightning-card>
    <div class="slds-grid slds-wrap slds-p-around_small">

        <!-- Create a record with Lightning Data Service -->
        <!-- lightning-record-form -->
        <div class="slds-col">
            <lightning-record-form object-api-name={accountObject} fields={myFields} onsuccess={handleSuccess} onsubmit={handleSubmit}> mode="edit">
            </lightning-record-form>
        </div>
    </div>
</template> 